.taskCardNavbar {
  height: 12%;
  width: 100%;
  background-color: grey;
  color: black;
  border: 3px solid red;
  display: flex;
}

.ul {
  height: 100%;
  width: 100%;
  display: flex;
  border: 3px solid blue;
}

.navItem {
  width: 20px;
  height: 20px;
  border: 5px dashed green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconButton {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 2px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
